{% extends 'login/resetPassword.html' %}
{% load static%}

{% block reset-password %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Khôi phục mật khẩu thành công</h3>
            <div>
                <!-- <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe> -->
                <img src="{%static 'image/success.gif'%}" 
                height="100px"
                width="100px"/>
                
            </div>
            <a href="{%url 'index'%}" class="btn btn-success mt-5">Đăng nhập</a>
        </div>
    </div>
</div>
{% endblock reset-password%}