{% extends 'login/login.html' %}
{% load static%}

{% block main-content-page %}
<div class="col-sm-4" style="border: 1px solid rgb(172, 173, 173); border-radius: 15px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ; background-color: rgba(255,255,255,0.7);">
    <div class="logo-top">
        <ul class="d-flex flex-column bd-highlight mb-3 mg-0 pl-0">
            <li class="p-2 bd-highlight logo-hd">
                <img src="{%static 'image/img_login/logoIUH2.png'%}" style="max-width:100%;">
            </li>
            <li class="p-2 bd-highlight name-hd text-center"><h4 style="font-weight: bold;">KHÔI PHỤC MẬT KHẨU</h4></li>
        </ul>
    </div>
    {% block reset-password %}
    <form action="" method="post" novalidate class="shadow pt-5 pl-5 pr-5 pb-3"  style="border-radius: 15px;">
        {% csrf_token %}
        {%for fm in form%}
            {% comment %} cái này là cái label của form {% endcomment %}
            {{fm.label_tag}} {{fm}} 
            <small class="text-danger">
                {{fm.errors|striptags}}
            </small>
            <br>
        {%endfor%}
        <input type="submit" value="Khôi phục mật khẩu" class=" btn btn-primary btn-100 mt-1"> 
        <br>
        <div class="text-center text-primary fw-bold">
        </div>
        {%if form.non_field_errors%}
            {%for error in form.non_field_errors%}
                <p class="alert alert-danger my-3">{{error}}</p>
            {%endfor%}
        {%endif%}
        <br>
        <small>
            <a href="{%url 'index' %}">Đăng nhập</a>
        </small>
    </form>
    {% endblock reset-password %}
</div>
{% endblock main-content-page %}