{% extends 'app/base.html' %}
{% load static %}

{% block name-title %}
    Danh sách bài thi của học sinh
{% endblock name-title %}

{% block link-css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{% static 'css/tableStudent.css' %}">
{% endblock link-css %}

{% block main-content %}
<div class="home-dashboard d-block" style="height: 90vh;">
    <div class="snippet-body">
        <div class="container-fluid">
            <div class="card-columns">
                {% for baikt,lambai in baikt_zip %}
                    <div class="card">
                        <div class="card-body" style="font-size: 20px;">
                            <div class="">
                                <div class="row">
                                    <div class="col-md-5">
                                        <p class="card-text m-0">Mã đề: </p>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="card-text m-0">{{baikt.makt}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <p class="card-text m-0">Tên đề: </p>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="card-text m-0">{{baikt.tenkt}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <p class="card-text m-0">Môn: </p>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="card-text m-0">{{baikt.monkt}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <p class="card-text m-0">Lớp: </p>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="card-text m-0">{{baikt.lopkt}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <p class="card-text m-0">Ngày thi: </p>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="card-text m-0">{{baikt.ngaylambai}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <p class="card-text m-0">Giờ thi: </p>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="card-text m-0">{{baikt.giolambai}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <p class="card-text m-0">Thời gian làm bài:</p>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="card-text m-0">{{baikt.thoigian}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <p class="card-text m-0">Số câu hỏi: </p>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="card-text m-0">{{baikt.socauhoi}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <p class="card-text m-0">Số lần được thi:</p>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="card-text m-0">{{baikt.solanthi}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <p class="card-text m-0">Trạng thái: </p>
                                    </div>
                                    {% if baikt.trangthai %}
                                        <div class="col-md-7">
                                            <p class="card-text m-0">Mở</p>
                                        </div>
                                    {% else %}
                                        <div class="col-md-7">
                                            <p class="card-text m-0">Đóng</p>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <p class="card-text m-0">Ghi chú:</p>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="card-text m-0">{{baikt.ghichu}}</p>
                                    </div>
                                </div>
                                {% if baikt.trangthai %}
                                    {% if lambai %}
                                        <a href="{%url 'listScoreStudent' baikt.makt username %}" class="btn btn-block btn-success">Xem kết quả</a>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="{%url 'listStudentLamBai' baikt.makt %}" class="btn btn-block btn-primary">Làm bài</a>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="{%url 'listScoreStudent' baikt.makt username %}" class="btn btn-block btn-success">Xem kết quả</a>
                                            </div>
                                        </div>
                                    {% endif %} 
                                {% else %}
                                    <a class="btn btn-block btn-warning">Đã khóa</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
    
{% block script-js %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock script-js %}