{% extends 'app/base.html' %}
{% load static %}

{% block name-title %}
    Danh sách học sinh
{% endblock name-title %}

{% block name-title-app %}
Danh sách học sinh
{% endblock name-title-app %}
    
{% block link-css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{% static 'css/tableStudent.css' %}">
{% endblock link-css %}

{% block main-content %}
<div class="home-dashboard d-block" style="height: 90vh;">
    <div class="snippet-body">
        <div class="container-fluid">
            <div class="tableStudent ml-3 mr-3 table-scroll" id="table-scroll">
                <div class="table-responsive-sm text-nowrap table-wrap p-2" style="
                background-color: #fff;">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã học sinh</th>
                                <th scope="col">Tên học sinh</th>
                                <th scope="col">Giới tính</th>
                                <th scope="col">Lớp</th>
                                <th scope="col">Email</th>
                                <th scope="col">Số điện thoại</th>
                                <th>
                                    <div class="d-flex justify-content-center">
                                        <i class="fa-solid fa-gear"></i>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hs in list_student %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{hs.mahs}}</td>
                                    <td>{{hs.tenhs}}</td>
                                    <td>Nam</td>
                                    <td>{{hs.lophoc.tenlop}}</td>
                                    <td>{{hs.email}}</td>
                                    <td>{{hs.sdt}}</td>
                                    <th>
                                        <div class="d-flex flex-wrap-nowrap justify-content-around">    
                                            <a class="btn text-info p-0" href="javascript:void(0)" data-toggle="modal" data-target="#ModalEDIT" data-mssv="{{stu.masv}}" data-hodem="{{stu.hodem}}" data-ten="{{stu.ten}}" data-lop="{{stu.malop.malh}}" data-gioitinh="{{gioitinh}}" data-dantoc="{{stu.dantoc}}" data-email="{{stu.email}}" data-sdt="{{stu.sodt}}" data-ngaysinh="{{stu.ngaysinh}}" data-noisinh="{{stu.noisinh}}">
                                                <i class="fas fa-pencil-alt ml-2"></i>
                                            </a>
                                            <a class="btn text-danger p-0" href="{%url 'deleteStudent' hs.mahs%}" onclick="return confirm('Bạn có chắc muốn xóa?')">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </div>
                                    </th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}

{% block script-js %}
<script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" ></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
<script src="{%static 'js/listTable.js'%}"></script>
{% endblock script-js %}