{% extends 'app/base.html' %}
{% load static %}
{% load mathfilters %}

{% block name-title %}
    Danh sách bài thi trắc nghiệm
{% endblock name-title %}
    
{% block link-css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{% static 'css/tableStudent.css' %}">
<style>
    #dichuyen{
        position: sticky;
        top: 20px;
    }
</style>
{% endblock link-css %}


{% block main-content %}
<div class="home-dashboard d-block" style="height: auto;">
    <div class="row ml-3 mr-3">
        <div class="col-md-4 d-flex justify-content-center">
            <div id="dichuyen" class="khung d-flex flex-column flex-wrap align-content-around" style="border: 2px solid red; width: 200px;height: fit-content; border-radius: 10px;">
                {% for row in soHang %}
                    <div class="row mt-1">
                    {% for col in soCot %}
                        {% if row|mul:soCot|length|add:col|add:1 <= list_cauhoiKiemTra|length  %}
                            <div class="col-md-3 pl-1 pr-2">
                                <p id="CauHoi{{row|mul:soCot|length|add:col|add:1}}" class="text-center" style="border: 1px solid green; width: 30px; border-radius: 10px;">
                                    <a href="#Cau{{row|mul:soCot|length|add:col|add:1}}" class="text-decoration-none text-body" id="text_done_{{row|mul:soCot|length|add:col|add:1}}">{{row|mul:soCot|length|add:col|add:1}}</a>
                                </p>
                            </div>
                        {% endif %} 
                    {% endfor %}
                    </div> 
                {% endfor %}
                <div class="row mt-1">
                    <div class="col-md-12 pl-1 pr-2">
                        <p>Thời gian còn lại: <span id="countdown"></span></p>
                    </div>
                </div>
                <div class="row mt-1 mb-1">
                    <div class="col-md-12 pl-1 pr-2">
                        <input type="button" name="edit" id=""  class="btn btn-block btn-success done_test" value="Làm xong">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% for stt,i in socauhoi_list %}
                <div id="Cau{{stt|add:1}}" class="mb-3" data-macauhoi="{{i.cauhoi_macauhoi__macauhoi}}">
                    <strong>Câu {{stt|add:1}}: </strong> {{i.cauhoi_macauhoi__noidung}}
                    <br>
                    <input type="radio" name="c{{stt|add:1}}" id="c{{stt|add:1}}a" value="{{i.cauhoi_macauhoi__dapana}}"> <label for="c{{stt|add:1}}a">
                        A. {{i.cauhoi_macauhoi__dapana}}
                    </label>
                    <br>
                    <input type="radio" name="c{{stt|add:1}}" id="c{{stt|add:1}}b" value="{{i.cauhoi_macauhoi__dapanb}}"> 
                    <label for="c{{stt|add:1}}b">
                        B. {{i.cauhoi_macauhoi__dapanb}}
                    </label>
                    <br>
                    <input type="radio" name="c{{stt|add:1}}" id="c{{stt|add:1}}c" value="{{i.cauhoi_macauhoi__dapanc}}">
                    <label for="c{{stt|add:1}}c">
                        C. {{i.cauhoi_macauhoi__dapanc}}
                    </label>
                    <br>
                    <input type="radio" name="c{{stt|add:1}}" id="c{{stt|add:1}}d" value="{{i.cauhoi_macauhoi__dapand}}">
                    <label for="c{{stt|add:1}}d">
                        D. {{i.cauhoi_macauhoi__dapand}}
                    </label>
                </div>
            {% endfor %}
            {% comment %} <div id="Cau1" class="mb-3">
                <strong>Câu 1: </strong> Tam giác là gì?
                <br>
                <input type="radio" name="c1" id="c1a" value="Tam giác là một hình học"> A. Tam giác là một hình học
                <br>
                <input type="radio" name="c1" id="c1b" value="Tam giác là một hình học"> B. Tam giác là một hình học
                <br>
                <input type="radio" name="c1" id="c1c" value="Tam giác là một hình học"> C. Tam giác là một hình học
                <br>
                <input type="radio" name="c1" id="c1d" value="Tam giác là một hình học"> D. Tam giác là một hình học
            </div> {% endcomment %}
            <div class="row mt-1 mb-1">
                <div class="col-md-12 pl-1 pr-2">
                    <input type="button" name="edit" class="btn btn-block btn-success done_test" value="Làm xong">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
    
{% block script-js %}
<script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{%static 'js/base.js'%}"></script>
<script>
    $(document).ready(function(){
        var len_cauhoi= {{list_cauhoiKiemTra|length}};
        var makt='{{list_cauhoiKiemTra.0.makt__makt}}'
        var malskt='{{malskt}}'
        function get_json_data(){
            var json_dapan={}
            for(let i = 1; i <= len_cauhoi; i++){
                $(`input[name="c${i}"]`).each(function(){
                    if($(this).is(':checked')){
                        var macauhoi = $(this).parent().data('macauhoi');
                        var dapan = $(this).val();
                        json_dapan[macauhoi]=dapan
                    }
                })
            }
            return json_dapan
        }
        var thoigiankiemtra="{{list_cauhoiKiemTra.0.makt__thoigian}}".split(":")[0];
        // console.log(thoigiankiemtra);
        var countDownTime = thoigiankiemtra;
        var timeLeft = countDownTime * 60;
        var timeout=false;
        
        var countdown = setInterval(function() {
            // Tính toán giờ, phút và giây còn lại
            var hours = Math.floor(timeLeft / 3600);
            var minutes = Math.floor((timeLeft - (hours * 3600)) / 60);
            var seconds = timeLeft - (hours * 3600) - (minutes * 60);

            // Hiển thị kết quả tính toán trong thẻ span
            $("#countdown").html(hours + ":" + minutes + ":" + seconds);

            // Giảm thời gian đếm ngược đi 1 giây
            timeLeft--;

            // Kiểm tra nếu thời gian đếm ngược bằng 0 thì dừng đồng hồ đếm ngược
            if (timeLeft <= 0) {
                clearInterval(countdown);
                timeout=true;
                $("#countdown").html("Hết giờ!");
                json_dapan=get_json_data()
                $.ajax({
                    url: "{% url 'listStudentLamBai' 'list_cauhoiKiemTra.0.makt__makt' %}",
                    type: 'POST',
                    data: {
                        'maHS': "1010TB",
                        'ma_de_thi': makt,
                        'ma_lskt': malskt,
                        'time_kiem_tra': countDownTime*60,
                        'time_student_done': timeLeft,
                        'dap_an_tra_loi': JSON.stringify(json_dapan),
                        'csrfmiddlewaretoken': '{{csrf_token}}'
                    },
                    success: function(data){
                        alert("Hết giờ, nộp bài thành công");
                        location.href = "{% url 'resultTest' list_cauhoiKiemTra.0.makt__makt malskt '1010TB'%}";
                        // location.reload();
                    },
                    error: function(){
                        alert("Hết giờ, nộp bài thất bại");
                    }
                });
            }
        }, 1000);
        // json_dapan={}
        $('.done_test').click(function(){
            json_dapan=get_json_data()
            $.ajax({
                url: "{% url 'listStudentLamBai' list_cauhoiKiemTra.0.makt__makt %}",
                type: 'POST',
                data: {
                    'maHS': "1010TB",
                    'ma_de_thi': makt,
                    'ma_lskt': malskt,
                    'time_kiem_tra': thoigiankiemtra*60,
                    'time_student_done': timeLeft,
                    'dap_an_tra_loi': JSON.stringify(json_dapan),
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                success: function(data){
                    alert("Nộp bài thành công");
                    location.href = "{% url 'resultTest' list_cauhoiKiemTra.0.makt__makt malskt '1010TB'%}";
                    // location.reload();
                },
                error: function(){
                    alert("Nộp bài thất bại");
                }
            });
        })

        $(document).change(
            function()
            {
                for(let i = 1; i <= len_cauhoi; i++){
                    let lastCheckedRadio = null;
                    $('input[name="c'+i+'"]').click(function() {
                        const radio = $(this);
                        if (radio.is(lastCheckedRadio)) {
                            radio.prop('checked', false);
                            lastCheckedRadio = null;
                            $('#CauHoi'+i).removeClass('bg-success')
                            $('#text_done_'+i).removeClass('text-white')
                            $('#text_done_'+i).addClass('text-body')
                        } else {
                            lastCheckedRadio = radio;
                        }
                    });
                    cau_checked= $('input[name="c'+i+'"]:checked').val()
                    if (cau_checked != null)
                    {
                        $('#CauHoi'+i).addClass('bg-success')
                        $('#text_done_'+i).removeClass('text-body')
                        $('#text_done_'+i).addClass('text-white')
                    }
                }
            }
        )
    })
</script>
{% endblock script-js %}