{% extends 'app/base.html' %}
{% load static %}
{% load mathfilters %}

{% block name-title %}
    Danh sách điểm thi
{% endblock name-title %}

{% block name-title-app %}
Danh sách điểm thi
{% endblock name-title-app %}

{% block link-css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{% static 'css/tableStudent.css' %}">
{% endblock link-css %}


{% block main-content %}
<div class="home-dashboard d-block" style="height: 90vh;">
    <div class="snippet-body">
        <div class="container-fluid">
            <div class="tableStudent ml-3 mr-3 table-scroll" id="table-scroll">
                <div class="table-responsive-sm text-nowrap table-wrap p-2" style="
                background-color: #fff;">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã học sinh</th>
                                <th scope="col">Tên học sinh</th>
                                <th scope="col">Lần thi</th>
                                <th scope="col">Lớp</th>
                                <th scope="col">Điểm</th>
                                <th>
                                    <div class="d-flex justify-content-center">
                                        <i class="fa-solid fa-gear"></i>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lskt in lich_su_kiem_tra %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{lskt.mahs.mahs}}</td>
                                    <td>{{lskt.mahs.tenhs}}</td>
                                    <td>Lần {{forloop.counter}} </td>
                                    <td>{{lskt.mahs.lophoc.tenlop}}</td>
                                    <td>{{lskt.diem}}</td>
                                    <td>
                                        <div class="d-flex flex-wrap-nowrap justify-content-around">    
                                            <a class="btn btn-block bg-success p-0 text-white" href="{%url 'resultTest' lskt.makt.makt lskt.mals lskt.mahs.mahs %}">
                                                Chi Tiết
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
{% block script-js %}
<script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" ></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
<script src="{%static 'js/listTable.js'%}"></script>
{% endblock script-js %}