{% load static %}
{% load mathfilters %}
{% load getByIndex%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In đề thi</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
    <style>
        *{
            font-family: 'Times New Roman', Times, serif;
        }
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
    </style>
</head>
<body>
    <div class="container" id="invoice">
        <div class="row Truong">
            <div class="col-md-5 text-center">
                <h6 class="font-weight-bold">SỞ GD & ĐT TỈNH CÀ MAU</h6>
                <h6>TRƯỜNG THPT TRẦN QUỐC TOẢN</h6>
                <hr color="#0000">
                <h6>ĐỀ CHÍNH THỨC</h6>
                <h6 id="sotrang">
                    (Đề có ... trang)
                </h6>
            </div>
            <div class="col-md-7 text-center ">
                <h6 class="font-weight-bold">ĐỀ KIỂM TRA ĐỊNH KỲ - NĂM HỌC 2023 - 2024</h6>
                <h6 class="font-weight-bold">MÔN VẬT LÍ LỚP - {{lopkiemtra}}</h6>
                <h6 class="font-italic font-weight-bold">Thời gian làm bài: {{test_thoigiankiemtra}} Phút</h6>
            </div>
        </div>
        <div class="ThongTin">
            <span>
                Họ và tên: ........................................................
            </span>
            <span>
                Lớp: .................
            </span>
            <span>
                Số báo danh: .................
            </span>
            <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Mã đề: {{madethikiemtra}}</span>
            <hr color="#0000">
        </div>
        <div class="khungtraloi">
            <table style="width:100%" class="text-center">
            {% for row in soHang %}
                <tr>
                    <td style="width: 10%;">Câu</td>
                    {% for col in soCot %}
                        <td>{{row|mul:soCot|length|add:col|add:1}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td style="width: 10%;">Đáp án</td>
                    {% for col in soCot %}
                        <td></td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>
            <br>
        </div>
        <div class="Cauhoi">
            {% for stt,i in socauhoi_list %}
                <div id="Cau{{stt|add:1}}" class="mb-3" data-macauhoi="{{i.cauhoi_macauhoi__macauhoi}}">
                    <strong>Câu {{stt|add:1}}: </strong> {{i.cauhoi_macauhoi__noidung}}
                    <br>
                    A. {{i.cauhoi_macauhoi__dapana}}
                    <br>
                    B. {{i.cauhoi_macauhoi__dapanb}}
                    <br>
                    C. {{i.cauhoi_macauhoi__dapanc}}
                    <br>
                    D. {{i.cauhoi_macauhoi__dapand}}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container" id="invoice_da">
        <h1 class="text-center">Đáp án {{makt}}: {{tende}} - mã đề {{madethikiemtra}} lớp {{lopkiemtra}}</h1>
        <table style="width:100%" class="text-center">
            {% for row in soHang %}
                <tr>
                    <td style="width: 10%;">Câu</td>
                    {% for col in soCot %}
                        <td>{{row|mul:soCot|length|add:col|add:1}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td style="width: 10%;">Đáp án</td>
                    {% for col in soCot %}
                        {% if row|mul:soCot|length|add:col|add:1 <= list_cauhoiKiemTra|length %}
                            {% with row|mul:soCot|length|add:col as indexTF %}
                                <td>{{dapandung|getIndex:indexTF}}</td>
                            {% endwith %}
                        {% else %}
                                <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>
    </div>
    <script>
        window.addEventListener("DOMContentLoaded", async() => {
            const invoice = this.document.getElementById("invoice");
            var opt = {
                margin: 0.5,
                filename: '{{makt}}_{{madethikiemtra}}'+'.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: {  scale: 3,
                                logging: true,
                                dpi: 192,
                                letterRendering: true
                            },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };
            await html2pdf().from(invoice).set(opt).toPdf().get('pdf').then(function(pdf) {
                var totalPages = pdf.internal.getNumberOfPages();
                var sotrangHTML=document.getElementById("sotrang").innerHTML.replace("...",""+totalPages);
                document.getElementById("sotrang").innerHTML=sotrangHTML;
            });

            await html2pdf().from(invoice).set(opt).toPdf().get('pdf').then(function(pdf) {
                var totalPages = pdf.internal.getNumberOfPages();
                for (let i = 1; i <= totalPages; i++) {
                    pdf.setPage(i);
                    pdf.setFontSize(10);
                    pdf.setTextColor(150);
                    pdf.text(`${i}/${totalPages}`, pdf.internal.pageSize.getWidth() - 1, pdf.internal.pageSize.getHeight() - 0.5, null, null, 'right');
                }
            }).save();

            const invoice_da = this.document.getElementById("invoice_da");
            var opt_da = {
                margin: 0.5,
                filename: 'DA_{{makt}}_{{madethikiemtra}}'+'.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: {  scale: 3,
                                logging: true,
                                dpi: 192,
                                letterRendering: true
                            },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };

            await html2pdf().from(invoice_da).set(opt_da).toPdf().get('pdf').then(function(pdf) {
                var totalPages = pdf.internal.getNumberOfPages();
                for (let i = 1; i <= totalPages; i++) {
                    pdf.setPage(i);
                    pdf.setFontSize(10);
                    pdf.setTextColor(150);
                    pdf.text(`${i}/${totalPages}`, pdf.internal.pageSize.getWidth() - 1, pdf.internal.pageSize.getHeight() - 0.5, null, null, 'right');
                }
            }).save();

            // window.history.back();
            alert("Tải đề thi và đáp án thành công");
            // window.close();
        })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
</body>

</html>