{% extends 'app/base.html' %}
{% load static %}
{% load mathfilters %}

{% block name-title %}
Kết quả bài thi
{% endblock name-title %}

{% block name-title-app %}
Kết quả bài thi
{% endblock name-title-app %}
    

{% block link-css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{% static 'css/tableStudent.css' %}">
<style>
    #dichuyen{
        position: sticky;
        top: 20px;
    }
</style>
{% endblock link-css %}



{% block main-content %}
<div class="home-dashboard d-block" style="height: auto;">
    <div class="row ml-3 mr-3">
        <div class="col-md-12">
            <h2 class="text-danger font-weight-bold text-center">ĐỀ TRẮC NGHIỆM</h2>
            <div class="content">
                <h3>
                    <strong>BẠN ĐÃ LÀM ĐÚNG: </strong>
                    <span class="text-success">{{socauDung}}/{{soluongCauhoi}}</span>
                </h3>
                <h4>
                    <strong>Điểm: </strong>
                    <span class="text-danger">{{lskt_diem_time.0.diem}}</span>
                </h4>
                <div class="danhgiakienthuc">
                    <h2 class="font-weight-bold text-center">ĐÁNH GIÁ KIẾN THỨC HỌC SINH</h2>
                    <div class="noidung" style="margin-left: 25%; font-size: 25px; margin-bottom: 25px;margin-right: 25%">
                        <ul>
                            {% for md in  new_mucdo %}
                            <li>Các câu bạn làm sai liên quan đến: <strong>{{md}}</strong>
                                <ul>
                                {% for bai in new_chitietBaiHoc_V2 %}
                                    {% if bai.mucdo == md%}
                                        <li class="ml-5">{{bai.chuong}}
                                            <ul>
                                                {% for tenbai in bai.bai %}
                                                    <li class="ml-5">{{tenbai}}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="text-center">
                            <a href="{%url 'detailResultTest' temp_makt temp_malskt username %}" class="btn btn-success text-decoration-none">Đáp án</a>
                            {% if request.user.is_superuser %}
                                <a href="{%url 'listScoreStudent' temp_makt 'all' %}" class="btn btn-success text-decoration-none">Kết thúc</a>
                            {% else %}
                                <a href="{%url 'listStudentQuesion' classname username %}" class="btn btn-success text-decoration-none">Kết thúc</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}

{% block script-js %}
<script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{%static 'js/base.js'%}"></script>
{% endblock script-js %}