{% extends 'app/base.html' %}
{% load static %}

{% block name-title %}
    Thống kê
{% endblock name-title %}

{% block name-title-app %}
Thống kê
{% endblock name-title-app %}

{% block link-css %}

{% endblock link-css %}

    
{% block main-content %}
<div class="home-dashboard d-block" style="height: 90vh;">
    <div class="snippet-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="row flex justify-content-end">
                        <div class="col-md-3">
                            <label for="" class="form-control text-center">Lớp</label>
                        </div>
                        <div class="com-md-9">
                            <select name="Lop" id="Lop" class="form-control">
                                <option value="">---Chọn Lớp---</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="" class="form-control text-center">Bài kiểm tra</label>
                        </div>
                        <div class="com-md-8">
                            <select name="baiKT" id="baiKT" class="form-control ">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-none" id="Thongke">
                <div class="col md-4">
                    <p class="text-center bg-light">Trung bình
                        <br>
                        <span class="diemTB">0</span>
                        <span>/ 10 điểm</span>
                    </p>
                </div>
                <div class="col md-4">
                    <p class="text-center bg-light">
                        Trung vị
                        <br>
                        <span class="diemTV">0</span>
                        <span>/ 10 điểm</span>
                    </p>
                </div>
                <div class="col md-4">
                    <p class="text-center bg-light">
                        Dải điểm
                        <br>
                        <span class="diemDai">0</span>
                    </p>
                </div>
            </div>
            <div class="row d-none" id="Top5">
                <div class="col-md-6">
                    <p class="text-center bg-light">Top 5 học sinh có điểm cao</p>
                    <div class="tenHsDS_DiemCao text-center bg-light">
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="text-center bg-light">Top 5 học sinh có điểm thấp</p>
                    <div class="tenHsDS_DiemThap text-center bg-light">
                        
                    </div>
                </div>
            </div>
            <div class="row mt-3" id="chart">
                <div class="col-md-6">
                    <div id="myPlot_bar_score" ></div>
                </div>
                <div class="col-md-6">
                    <div id="myPlot_number_of_question_TF" ></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}

{% block script-js %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    fetch("{% url 'api_get_lop_baikt' %}")
    .then(response => response.json())
    .then(data => {
        // console.log(data);
        var lophoc = []
        for (i in data){
            if (lophoc.indexOf(data[i]['lopkt']) == -1){
                lophoc.push(data[i]['lopkt'])
            }
        }
        var select_lop = document.getElementById("Lop");
        for (i in lophoc){
            var option = document.createElement("option");
            option.value = lophoc[i];
            option.text = lophoc[i];
            select_lop.appendChild(option);
        }
        
        $('#Lop').change(function(){
            var lop = $(this).val();
            var select_baikt = document.getElementById("baiKT");
            select_baikt.innerHTML = "";
            var option = document.createElement("option");
            option.value = "";
            option.text = "---Chọn Bài Kiểm Tra---";
            select_baikt.appendChild(option);
            for (i in data){
                if (data[i]['lopkt'] == lop){
                    var option = document.createElement("option");
                    option.value = data[i]['makt'];
                    option.text = data[i]['tenkt'];
                    select_baikt.appendChild(option);
                }
            }
        })

        $('#baiKT').change(function(){
            var makt = $(this).val();
            $('.tenHsDS_DiemCao').html('')
            $('.tenHsDS_DiemThap').html('')
            try {
                $('#Thongke').removeClass('d-none')
                $('#Top5').removeClass('d-none')
                fetch(`/api_getScore/${makt}`)
                .then(response => response.json())
                .then(data =>{
                    const l_mahs= data['mahs']
                    const x_Ten= data['tenhs'];
                    const y_Diem =data['diemhs'].map(parseFloat);
                    //sort theo điểm tăng dần và thay đổi cả x_Ten và l_mahs
                    for (var i = 0; i < y_Diem.length; i++) {
                        for (var j = 0; j < y_Diem.length; j++) {
                            if (y_Diem[i] < y_Diem[j]) {
                                var temp = y_Diem[i];
                                y_Diem[i] = y_Diem[j];
                                y_Diem[j] = temp;
                                var temp2 = x_Ten[i];
                                x_Ten[i] = x_Ten[j];
                                x_Ten[j] = temp2;
                                var temp3 = l_mahs[i];
                                l_mahs[i] = l_mahs[j];
                                l_mahs[j] = temp3;
                            }
                        }
                    }
                    const color_Rank= {
                        'Xuất sắc': '#29174D',
                        'Giỏi': 'rgb(25, 93, 172)',	
                        'Khá': '#02577a',	
                        'Trung bình': '#02a9f7',
                        'Trung bình yếu': '#44B6A3',	
                        'Kém': '#d4f0fc'
                    };
                    const data_visual=[
                        {
                            x:l_mahs,
                            y:y_Diem,
                            type:"bar",
                            orientation:"v",
                            text: y_Diem.map(String),
                            textposition: 'auto',
                            hovertext: x_Ten,
                            // hoverinfo: 'none',
                            marker: {
                                color: y_Diem.map(value => {
                                    if (value >= 8) return color_Rank['Xuất sắc'];
                                    else if (value >= 6) return color_Rank['Giỏi'];
                                    else if (value >= 4) return color_Rank['Khá'];
                                    else if (value >= 2) return color_Rank['Trung bình'];
                                    else return color_Rank['Kém'];
                                }),
                                line: {
                                    width: 1,
                                    color: "black",
                                    symbol: "square",
                                    outliercolor: "black",
                                    outlierwidth: 2
                                },
                                opacity: 0.8
                            }
                        }
                    ]
                    const layout = {
                        title:"Điểm thi của học sinh",
                        xaxis:{
                            title: 'Mã học sinh'
                        },
                        yaxis:{
                            title: 'Điểm',
                            range: [0,10]
                        }
                    };
                    Plotly.newPlot("myPlot_bar_score", data_visual, layout);

                    const diemTB = data['diemTB']
                    const diemTV = data['diemTrungVi']
                    const diemDai = data['range']
                    $('.diemTB').text(diemTB)
                    $('.diemTV').text(diemTV)
                    $('.diemDai').text(diemDai)

                    const top5DiemCao=data['top5DiemCao']
                    const top5DiemThap=data['top5DiemThap']
                    for (i in top5DiemCao)
                    {
                        $('.tenHsDS_DiemCao').append(`<span>${top5DiemCao[i][1]} - ${top5DiemCao[i][0]}</span><br>`)
                    }
                    for (i in top5DiemThap)
                    {
                        $('.tenHsDS_DiemThap').append(`<span>${top5DiemThap[i][1]} - ${top5DiemThap[i][0]}</span><br>`)
                    }
                });

                fetch(`/api_getQuestionTF/${makt}`)
                .then(response => response.json())
                .then(data => {
                    // console.log(data);
                    var cau=data['cau']
                    var list_soluongdungtungcau=[]
                    var list_soluongsaitungcau=[]
                    for (var key in data['dapandungtungcau']) {
                        if (data['dapandungtungcau'].hasOwnProperty(key)) {
                            var value = data['dapandungtungcau'][key];
                            list_soluongdungtungcau.push(value);
                        }
                    }
                    for (var key in data['dapansaitungcau']) {
                        if (data['dapansaitungcau'].hasOwnProperty(key)) {
                            var value = data['dapansaitungcau'][key];
                            list_soluongsaitungcau.push(value);
                        }
                    }
                    var trace1={
                        x: cau,
                        y:list_soluongdungtungcau,
                        name: "Số lượng đúng",
                        type: "bar",
                        text: list_soluongdungtungcau.map(String),
                        textposition: 'auto',
                        hoverinfo: 'none',
                        // orientation: "h",
                    };
                    var trace2={
                        x: cau,
                        y:list_soluongsaitungcau,
                        name: "Số lượng sai",
                        type: "bar",
                        text: list_soluongsaitungcau.map(String),
                        textposition: 'auto',
                        hoverinfo: 'none',
                        // orientation: "h",
                    };
                    var data_trace=[trace1,trace2];
                    var layout = {
                        // barmode: 'stack',
                        title:"Số lượng học sinh trả lời câu đúng và câu sai",
                        legend: {
                            orientation: "h"
                        },
                    };
                    Plotly.newPlot('myPlot_number_of_question_TF', data_trace, layout);

                })
            } catch (error) {
                $('#Thongke').addClass('d-none')
                $('#Top5').addClass('d-none')
                $('#chart').addClass('d-none')
            }
            
        });

    })
</script>
{% endblock script-js %}